.container {
  padding: 0 20px;
}

.button {
  margin-bottom: 10px;
}

.filmInformation {
  display: flex;
  margin-bottom: 10px;
}

.textInformation {
  padding-left: 32px;
}

.border {
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.genresList {
  list-style: none;
  padding-left: 0;
}
