.heading {
  margin-top: 50px;
  text-align: center;
}

.button {
  background-color: rgba(138, 43, 226, 0.2);
  color: black;
  font-weight: bold;
  padding: 5px 15px 10px 15px;
  border: 1px solid black;
  border-radius: 5px;
  text-decoration: none;
}
