.link {
  font-weight: bold;
  color: black;
  text-decoration: none;
}

.link:not(.active):hover {
  color: lightskyblue;
}

.active {
  color: red;
  text-decoration: underline;
}

.navigations {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 0;
  padding: 18px;
  box-shadow: 0px 10px 20px 0px rgba(138, 43, 226, 0.2);
}

.navigations__item {
  padding: 0 10px;
}
